<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="FoghornEntities"
         connectionString="metadata=res://*/FoghornModel.csdl|res://*/FoghornModel.ssdl|res://*/FoghornModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Foghorn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>