<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="Mail" name="email" from="system@yupon.com" to="gobrien@yupon.com" smtpServer="mail.yupon.com"
            smtpUserName="system@yupon.com" smtpPassword="fix8ed!" smtpAuthentication="Basic"
            subject="${machinename}: ${logger} Error Logged"
            body="${longdate}|${level:uppercase=true}|${logger}|${callsite}|${message}|${exception}|${stacktrace}" />
    <target name="file" xsi:type="File" fileName="${basedir}/logs/${shortdate}-Rocky.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    <target name="debugger" xsi:type="Debugger" layout="${longdate} ${uppercase:${level}} ${message}" />

    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="debugger" />
    <logger name="*" minlevel="Error" writeTo="email" />

    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>